<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
	<test name="ClassTest">
		<classes>
			<class name="com.sas.core.TripTollTest">
				<methods>
					<include name="setup"></include>
					<include name="tollQEWto410"></include>
					<include name="tollQEWto403"></include>
					<include name="teardown"></include>
				</methods>
			</class>
		</classes>
	</test>
</suite>

